<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="ImgurNet" version="1.2.0" targetFramework="net451" />
  <package id="Magick.NET-Q16-HDRI-AnyCPU" version="7.0.0.0007" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="morelinq" version="2.0.0-alpha01" targetFramework="net451" />
  <package id="MoreLinq.Portable" version="1.1.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net451" />
  <package id="MySql.Data.Entity" version="6.9.5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net451" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net451" />
  <package id="ServiceStack" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.Host.AspNet" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.Plugins.ProtoBuf" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net451" />
  <package id="WebActivator" version="1.5" targetFramework="net451" />
</packages>